<?xml version="1.0" encoding="UTF-8"?>
<!-- SpringMapperXmlCodeCreator.java -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.ankenmatchingu.mapper.P001.P001UpdateSaveMapper">
	<resultMap type="com.wonderrobot.ankenmatchingu.entity.P001.P001UpdateSaveEntity" id="P001UpdateSaveEntityMap">
		<result property="id" column="id" />
		<result property="tag_type" column="tag_type" />
		<result property="tag_id" column="tag_id" />
		<result property="number_start" column="number_start" />
		<result property="number_end" column="number_end" />
		<result property="value" column="value" />
		<result property="detail_id" column="detail_id" />
		<result property="tag_code" column="tag_code" />
		<result property="email_send_time" column="email_send_time" />
		<result property="LAST_UPDATE_ID" column="LAST_UPDATE_ID" />
		<result property="LAST_UPDATE_DTM" column="LAST_UPDATE_DTM" />
	</resultMap>
	<!-- 技術者タグ スマート保存-更新 -->
	<update id="p001UpdateSaveData" >
		UPDATE PEOPLE_TAG
	SET id = CAST(#{id} AS SIGNED),tag_type = CAST(#{tag_type} AS SIGNED),tag_id = CAST(#{tag_id} AS SIGNED),number_start = CAST(#{number_start} AS SIGNED),number_end = CAST(#{number_end} AS SIGNED),value = #{value},detail_id = CAST(#{detail_id} AS SIGNED),tag_code = #{tag_code},email_send_time = #{email_send_time},LAST_UPDATE_ID = #{LAST_UPDATE_ID},LAST_UPDATE_DTM = #{LAST_UPDATE_DTM}
		<where>
			1 = 1 
			<if test="id1 != null and id1 != ''">
				 AND id  = CAST(#{id1} AS SIGNED) 
			</if>
		</where>
	</update>
</mapper>