<?xml version="1.0" encoding="UTF-8"?>
<!-- SpringMapperXmlCodeCreator.java -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.ankenmatchingu.mapper.S001.S001Insert1GridSaveMapper">
	<resultMap type="com.wonderrobot.ankenmatchingu.entity.S001.S001Insert1GridSaveEntity" id="S001Insert1GridSaveEntityMap">
		<result property="config_code" column="config_code" />
		<result property="description" column="description" />
		<result property="value" column="value" />
		<result property="id" column="id" />
		<result property="FIRST_REG_ID" column="FIRST_REG_ID" />
		<result property="FIRST_REG_DTM" column="FIRST_REG_DTM" />
		<result property="LAST_UPDATE_ID" column="LAST_UPDATE_ID" />
		<result property="LAST_UPDATE_DTM" column="LAST_UPDATE_DTM" />
	</resultMap>
	<!-- 共通設定管理 スマート保存-登録 -->
	<insert id="s001Insert1GridSaveData" >
		INSERT INTO SYS_CONFIG
	(config_code,description,value,id,FIRST_REG_ID,FIRST_REG_DTM,LAST_UPDATE_ID,LAST_UPDATE_DTM) 
	VALUES (
	#{config_code},#{description},#{value},CAST(#{id} AS SIGNED),#{FIRST_REG_ID},#{FIRST_REG_DTM},#{LAST_UPDATE_ID},#{LAST_UPDATE_DTM})
	</insert>
</mapper>