<?xml version="1.0" encoding="UTF-8"?>
<!-- SpringMapperXmlCodeCreator.java -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.ankenmatchingu.mapper.J001.J001JOB_DETAILRepeatCheckMapper">
	<resultMap type="com.wonderrobot.ankenmatchingu.entity.J001.J001JOB_DETAILRepeatCheckEntity" id="J001JOB_DETAILRepeatCheckEntityMap">
		<result property="id" column="id" />
	</resultMap>
	<!-- 案件明細 JOB_DETAIL キー重複チェック -->
	<select id="j001JOB_DETAILRepeatCheckselectJOB_DETAIL"  resultMap="J001JOB_DETAILRepeatCheckEntityMap">
		<!--475-->
		SELECT 
		id
		FROM JOB_DETAIL
		<where>
			1 = 1 
			<if test="txt2 != null and txt2 != ''">
				 AND id  = CAST(#{txt2} AS SIGNED) 
			</if>
		</where>
	</select>
</mapper>