<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.ankenmatchingu.mapper.DownloadImageMapper">
	<select id="getFileName" resultType ="String">
		SELECT ATTACHNEWFILENM FROM WF_BU_ATTACH_TBL WHERE BUSINESS_UNIT = #{BUSINESS_UNIT} AND ATTACHID = #{ATTACHID}
	</select>
</mapper>

