<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.ankenmatchingu.mapper.UploadImageMapper">
	<insert id="insertImageInfo">
		INSERT INTO WF_BU_ATTACH_TBL (BUSINESS_UNIT, UPLOAD_ID, ATTACHID, ATTACHFILENAME, ATTACHFILESIZE, ATTACHMIMETYPE, ATTACHDESC, ATTACHCREATIONIP, ATTACHCREATIONDATE, ATTACHMODIFIEDDATE, ATTACHDOWNLOADCOUNT, ATTACHOPTION, ATTACHSTATUS, REFFRFORM, ATTACHNEWFILENM, FILETYPE, THUMBIMAGENM, IMAGEWIDTH, IMAGEHEIGHT, FIRST_REG_DTM, FIRST_REG_ID, LAST_UPDATE_DTM, LAST_UPDATE_ID) VALUES (#{BUSINESS_UNIT}, '00', #{ATTACHID}, #{ATTACHFILENAME}, #{ATTACHFILESIZE}, #{ATTACHMIMETYPE}, #{ATTACHDESC}, #{ATTACHCREATIONIP}, #{ATTACHCREATIONDATE}, #{ATTACHMODIFIEDDATE}, 0, '', 0, #{REFFRFORM}, #{ATTACHNEWFILENM}, #{FILETYPE}, #{THUMBIMAGENM}, #{IMAGEWIDTH}, #{IMAGEHEIGHT}, #{FIRST_REG_DTM}, #{FIRST_REG_ID}, #{LAST_UPDATE_DTM}, #{LAST_UPDATE_ID})
	</insert>
	<select id="getAttachId" resultType="String" >
		select
		  ATTACHID
		from
		  WF_BU_ATTACH_TBL
		where ATTACHFILENAME = #{FILENAME}
		ORDER BY FIRST_REG_DTM DESC
		LIMIT 1
	</select>
</mapper>

