<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- BasicMapperXml.vm -->
<mapper namespace="com.wonderrobot.ankenmatchingu.mapper.UserPasswordMapper">

	<!-- Update user password. -->
	<update id="updateUserPassword" >
		UPDATE #{LOGINTABLEID} SET #{LOGINPASSWORD} = #{LOGINPASSWORD_VALUE} WHERE #{LOGINID} = #{LOGINID_VALUE}
	</update>

</mapper>