<?xml version="1.0" encoding="UTF-8"?>
<!-- SpringMapperXmlCodeCreator.java -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.ankenmatchingu.mapper.P002.P002PEOPLE_DETAILMapper">
	<resultMap type="com.wonderrobot.ankenmatchingu.entity.P002.P002PEOPLE_DETAILEntity" id="P002PEOPLE_DETAILEntityMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="sex" column="sex" />
		<result property="age" column="age" />
		<result property="address" column="address" />
		<result property="price" column="price" />
		<result property="company_current" column="company_current" />
		<result property="certificate" column="certificate" />
		<result property="introduction" column="introduction" />
		<result property="entry_time" column="entry_time" />
		<result property="interview_time" column="interview_time" />
		<result property="skills" column="skills" />
		<result property="remark" column="remark" />
		<result property="contact" column="contact" />
		<result property="contact_mail" column="contact_mail" />
		<result property="contact_company" column="contact_company" />
		<result property="contact_phone" column="contact_phone" />
		<result property="contact_address" column="contact_address" />
		<result property="email_sender" column="email_sender" />
		<result property="email_send_time" column="email_send_time" />
		<result property="email_title" column="email_title" />
		<result property="email_content" column="email_content" />
		<result property="email_attachment" column="email_attachment" />
		<result property="nationality" column="nationality" />
	</resultMap>
	<!-- ページ用 技術者明細 -->
	<select id="p002InitDepthZero"  resultMap="P002PEOPLE_DETAILEntityMap">
		<!--475-->
		SELECT 
		id,
		name,
		sex,
		age,
		address,
		price,
		company_current,
		certificate,
		introduction,
		entry_time,
		interview_time,
		skills,
		remark,
		contact,
		contact_mail,
		contact_company,
		contact_phone,
		contact_address,
		email_sender,
		email_send_time,
		email_title,
		email_content,
		email_attachment,
		nationality
		FROM PEOPLE_DETAIL
		<where>
			1 = 1 
			<if test="txt2 != null and txt2 != ''">
				 AND id  = CAST(#{txt2} AS SIGNED) 
			</if>
		</where>
	</select>
	<!-- ページ用 技術者明細 -->
	<select id="p002SearchInitDepthZero"  resultMap="P002PEOPLE_DETAILEntityMap">
		<!--475-->
		SELECT 
		id,
		name,
		sex,
		age,
		address,
		price,
		company_current,
		certificate,
		introduction,
		entry_time,
		interview_time,
		skills,
		remark,
		contact,
		contact_mail,
		contact_company,
		contact_phone,
		contact_address,
		email_sender,
		email_send_time,
		email_title,
		email_content,
		email_attachment,
		nationality
		FROM PEOPLE_DETAIL
		<where>
			1 = 1 
			<if test="txt2 != null and txt2 != ''">
				 AND id  = CAST(#{txt2} AS SIGNED) 
			</if>
		</where>
	</select>
</mapper>